<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DebugMode" value="true"/>
    <add key="UserInfoParams" value="10,1,010"/>
  </appSettings>
  <connectionStrings>
    <add name="Dialer" providerName="System.Data.SqlClient" connectionString="Server=10.17.0.124;Database=TCCM_app_2; User ID=ivruser;Password=Iu123456;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="RealTime" providerName="System.Data.SqlClient" connectionString="Server=10.17.0.124.;Database=TCCM_app_2; User ID=ivruser;Password=Iu123456;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="DialerAdmin" providerName="System.Data.SqlClient" connectionString="Server=10.17.0.124;Database=TCCM_adm_2; User ID=ivruser;Password=Iu123456;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="ReportsSystem" providerName="System.Data.SqlClient" connectionString="Server=10.17.0.124;Database=ccms_stat; User ID=ivruser;Password=Iu123456;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="AACC" providerName="InterSystems ODBC" connectionString="Server = 10.17.3.51; Port = 1972;  Namespace = ccms_stat; User ID = sysadmin; Password = password; Min Pool Size = 3; Max Pool Size = 10; Connection Reset = true; Connection Lifetime = 3; Pooling = true;"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
          propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\project\dialer\app_tracelog.svclog"
          type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="cvHostService.CP_MessageServiceBehavior">
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--<endpoint address="service" binding="wsDualHttpBinding" contract="GPH_QuickMessageServiceLib.IMessageServiceInbound"/>
      -->
      <!-- Enable the MEX endpoint -->
      <!--
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      <service name="cvServiceHost.CP_MessageService" behaviorConfiguration="cvHostService.CP_MessageServiceBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" name="NetTcpBindingEndpoint" contract="cvServiceHost.IMServiceInbound">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBindingEndpoint" contract="IMetadataExchange"/>
        <!--<endpoint address="" binding="netTcpBinding" bindingConfiguration="" name="NetTcpBindingEndpoint" contract="cvServiceHost.IMServiceInbound">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBindingEndpoint" contract="IMetadataExchange"/>-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://ccmobiletest:7070/cvDialerService"/>
          </baseAddresses>
        </host>-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8523/cvDialerService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
