<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DebugMode" value="true"/>
    <add key="webuser" value="nissim"/>
    <add key="webpass" value="Q1w2e3r4!"/>
    <add key="AACCIP" value="172.26.30.66"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Dialer" providerName="System.Data.SqlClient" connectionString="Server=172.26.30.151;Database=TCCM_APP; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="AgentSP" providerName="System.Data.SqlClient" connectionString="Server=172.26.30.151;Database=Agents_SP; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="RealTime" providerName="System.Data.SqlClient" connectionString="Server=172.26.30.151;Database=TCCM_APP; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="DialerAdmin" providerName="System.Data.SqlClient" connectionString="Server=172.26.30.151;Database=TCCM_ADM; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="ReportsSystem" providerName="System.Data.SqlClient" connectionString="Server=172.26.30.151;Database=TCCM_HIST; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="AACC" providerName="InterSystems ODBC" connectionString="Server = 10.70.9.217; Port = 1972;  Namespace = ccms_stat; User ID = sysadmin; Password = avaya1; Min Pool Size = 3; Max Pool Size = 10; Connection Reset = true; Connection Lifetime = 3; Pooling = true;"/>
    <!--
   <add name="Dialer" providerName="System.Data.SqlClient" connectionString="Server=SQL-APP2-TEST;Database=TCCM_APP; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="RealTime" providerName="System.Data.SqlClient" connectionString="Server=SQL-APP2-TEST;Database=TCCM_APP; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="DialerAdmin" providerName="System.Data.SqlClient" connectionString="Server=SQL-APP2-TEST;Database=TCCM_ADM; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="ReportsSystem" providerName="System.Data.SqlClient" connectionString="Server=SQL-APP2-TEST;Database=TCCM_HIST; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="AACC" providerName="InterSystems ODBC" connectionString="Server = 10.70.9.217; Port = 1972;  Namespace = ccms_stat; User ID = sysadmin; Password = avaya1; Min Pool Size = 3; Max Pool Size = 10; Connection Reset = true; Connection Lifetime = 3; Pooling = true;"/>
    -->
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\project\dialer\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0"/>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfLogInService.LoLiServiceBehavior">
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WcfLogInService.LoLiServiceBehavior" name="WcfLogInService.LoLiService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding0" name="NetTcpBindingEndpoint" contract="WcfLogInService.ILoLiService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBindingEndpoint" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8526/LoLi_ExtToLoginID"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
