<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoginForm.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="LoginForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LoginForm.Settings>
            <setting name="LoginForm_WebReference_SOAP" serializeAs="String">
                <value>http://localhost/WebServices/OpenInterfaces/soap.svc</value>
            </setting>
            <setting name="LoginForm_CCMAlogin_AuthenticationService" serializeAs="String">
                <value>http://localhost/WebServices/Authentication/Service.asmx</value>
            </setting>
        </LoginForm.Settings>
    </applicationSettings>
</configuration>