<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString"
            value=".\test.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size"/>
      <!-- <datePattern value="ddmmyyyy"/>-->
      <maxSizeRollBackups value="3"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level  %message%newline" />
        <!-- <conversionPattern value="%date %-5level %logger: %message%newline" /> -->
      </layout>
    </appender>
   
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">  
    <mapping>  
      <level value="ERROR" />  
      <foreColor value="Red, highintensity" />  
    </mapping>  
    <mapping>  
      <level value="WARN" />  
      <foreColor value="Yellow, highintensity" />  
    </mapping>  
      <mapping>  
      <level value="INFO" />  
      <foreColor value="Blue, highintensity" />  
    </mapping>  
    <mapping>  
      <level value="ALL" />  
      <foreColor value="Green" />  
    </mapping>  
    <layout type="log4net.Layout.PatternLayout">  
      <conversionPattern value="%d [%t] %-5p [%logger] - %m%n" />   
    </layout>  
  </appender>  

  <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      
    </root>
  </log4net>
  <!--the levels of logs are DEBUG, INFO, WARN, ERROR, FATAL.
   The root->level value defines the minimum value for all the logs -->
</configuration>