<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DebugMode" value="true"/>
    <add key="UserInfoParams" value="10,1,017"/>
  </appSettings>
  <connectionStrings>
    <add name="Dialer" providerName="System.Data.SqlClient" connectionString="Server=SQL-APP2-TEST;Database=TCCM_APP; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="AgentSP" providerName="System.Data.SqlClient" connectionString="Server=172.26.30.151;Database=Tccm-cfg; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="RealTime" providerName="System.Data.SqlClient" connectionString="Server=SQL-APP2-TEST;Database=TCCM_APP; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="DialerAdmin" providerName="System.Data.SqlClient" connectionString="Server=SQL-APP2-TEST;Database=TCCM_ADM; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="ReportsSystem" providerName="System.Data.SqlClient" connectionString="Server=SQL-APP2-TEST;Database=TCCM_HIST; User ID=IVR_User;Password=ivruser!123;MultipleActiveResultSets=True;Connect Timeout=2"/>
    <add name="AACC" providerName="InterSystems ODBC" connectionString="Server = 10.70.9.217; Port = 1972;  Namespace = ccms_stat; User ID = sysadmin; Password = avaya1; Min Pool Size = 3; Max Pool Size = 10; Connection Reset = true; Connection Lifetime = 3; Pooling = true;"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\project\dialer\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="cvHostService.LoLi_MessageServiceBehavior">
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--<endpoint address="service" binding="wsDualHttpBinding" contract="GPH_QuickMessageServiceLib.IMessageServiceInbound"/>
      -->
      <!-- Enable the MEX endpoint -->
      <!--
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      <service name="WcfLogInService.LoLi_MessageService" behaviorConfiguration="cvHostService.LoLi_MessageServiceBehavior">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" name="NetTcpBindingEndpoint" contract="WcfLogInService.LoLi_ServiceInbound">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBindingEndpoint" contract="IMetadataExchange"/>
        <!--<endpoint address="" binding="netTcpBinding" bindingConfiguration="" name="NetTcpBindingEndpoint" contract="WcfLogInService.LoLi_ServiceInbound">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBindingEndpoint" contract="IMetadataExchange"/>-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://ccmobiletest:7070/cvDialerService"/>
          </baseAddresses>
        </host>-->
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8523/LoLi_ExtToLoginID"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
